/* Custom CSS styling for Grayscale bootstrap theme */

/* Mobile First */
/*
==========================================================================
DEV UTILITIES
==========================================================================
*/

.bdred { border: 1px solid red; }
.m-lowercase { text-transform: lowercase; }

/* positioning */
.abs { position: absolute; }
.rel { position: relative; }

/*
==========================================================================
GLOBAL STYLES
==========================================================================
*/

body {
	background-color: #ffffff;
	font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
}

.navbar-custom {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    text-transform: uppercase;
    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: 'Titillium Web';*/
		background-color: rgba(0, 0, 0, 0.42);
}

/* mm Styles for mobile drop down menu */
.container>.navbar-collapse>.navbar-nav {
    margin: 0.5px -15px;
}
.container>.navbar-collapse>.nav>li {
    border-bottom: 1px solid lightgrey;
}
.container>.navbar-collapse {
	background-color: rgb(76, 80, 80);
}
.container>.navbar-collapse>.nav>li>a:hover {
	color: lightgreen;
}
/* / mm */

.navbar-custom .nav li a {
	color: rgba(255, 255, 255, 0.8);
  padding: 24px 0px 25px 0px;
	/*border-bottom: 1px solid transparent;*/

	/*font-family: 'Noto Sans', sans-serif;*/
	/*font-size:12px;*/
}
.navbar-custom .nav li a:hover {
    color: #fff;
    outline: none;
    background-color: transparent;
    /*border-bottom: 1px solid rgb(227, 255, 120); */
}

.navbar-nav {
    text-align: center;
}

.navbar-custom .navbar-toggle {
    color: white;
    background-color: transparent;
    font-size: 21px;
    margin-right: 7px;
}

.navbar-toggle {

    padding: 9px 10px;
	margin-top: 0px;
    margin-bottom: -2px;

}

h1,h2,h3,h4,h5 { color: #333333; /*font-family: 'Titillium Web'*/font-family: 'Lato', sans-serif;font-weight: 300; }

p {
	font-size: 18px;
	color:#737373;
	/*font-family: 'Open Sans Condensed', serif;*/
	font-family: georgia;
}

/* Navbar Branding */
.light { font-family: 'Titillium Web', sans-serif; font-size: 16px; }
.white { color: white; }
.green { color:rgb(227, 255, 120);  }
.fa-code { color:#ff8c00; }

.content-section { padding: 100px 0px 90px; }
/*.content-section p { text-align: center; font-family: 'Open Sans Condensed'; letter-spacing: .3px; }*/


.section-title {
	border-bottom: 0px solid #ff8c00;
	display: inline-block;
	padding-bottom: 0px;

}

hr {
	margin-top: -15px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(173, 147, 147, 0.64);
}
hr.small {
    max-width: 100px;
}

.mchevron-container { padding-bottom: 20px;  }
.mchevron-up { font-size: 26px; color: cadetblue; }
.mchevron-up-text { color:cadetblue;margin-top: 0px }

/*
==========================================================================
INTRO
==========================================================================
*/

header { background:  url('../img/banner-main-large4.jpg') no-repeat bottom center;
z-index: 100;position: relative;text-align: center;
}

.intro {

	/*padding: 145px 0px;*/
	min-height: 100vh;
	/*position: relative;*/


}

.intro h1 { color:#f7f7f7; font-family: 'Lato', sans-serif;font-weight:300; }
.intro .intro-body .brand-heading { font-size: 48px;z-index: 100;

 }

.intro .intro-body .intro-text, .brand-heading  {
	color: rgba(218, 255, 252, 0.91);
    font-weight: 100;
    font-size: 22px;
    /* color: #efefef; */
    font-family: 'Open Sans Condensed';
    letter-spacing: 1px;
    text-transform: uppercase;

    width: 100%;

	/*position: absolute;*/
	/*z-index: 100000;*/


}



.intro-color-overlay { background: #b1b6c3; opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1
 }

/*
* Find a fix to create blurred background image behind clear text with CSS
*/

/*.intro::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width:100%;

  display: block;
  background-image: url('http://www.ashercharles.com/wp-content/themes/v3/images/banner-main-large4.jpg');


  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}*/


/*
.tcontent { height:auto;width:102%; }*/
/*.intro-content::before {
  content: "";
  position:absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('');
  width: 100%;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/

/*.intro-content {
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
}*/


/*
==========================================================================
ABOUT SECTION
==========================================================================
*/

#about { background-color: rgba(10, 39, 62, 0.96); }
#about .section-title {  color: #91bcc1; }
#about p {
	color: #949cb5;
	font-family: 'Georgia', sans-serif;
	font-size:large;
	line-height: 30px
}
/*

==========================================================================
SKILLS SECTION
==========================================================================
*/
#skills { background-color: #e6e4e4; }
/*
==========================================================================
PORTFOLIO SECTION
==========================================================================
*/

#portfolio { background-color: #eee; }
.portfolio-item { margin-bottom: 20px; position: relative; width:100%;/*position: relative;*/ }
.section-intro { margin-bottom: 30px;/*border-bottom: 1px solid burlywood; */}
#portfolio .section-intro p { color:#f7f7f7; }
#portfolio .section-title { color:rgba(147, 39, 160, 0.67); }

.portfolio-item .caption {
	position: absolute;
	width:100%;
	top:0;
	bottom:0;
	left:0;
	background-color: transparent;
	padding:10px;

}

.caption .fa .fa-plus-circle {
	color: #fff;
	bottom: 0;
    position: absolute;
    margin-bottom: 20px;
}

.portfolio-item h3 a { font-size: 18px;color: rgb(227, 255, 120); }

.portfolio-item .text { font-color:#333; }

.portfolio-item .tools-list li { list-style: none;display: inline-block;margin-right: 10px; }


/*
==========================================================================
CONTACT SECTION
==========================================================================
*/

#contact { padding-bottom: 0px; background-color: #efefef; text-align: center; }
#contact .section-title { color: #00a6a9; }
#contact a { color: #8364bf; }

/*
==========================================================================
FOOTER SECTION
==========================================================================
*/

footer { background-color: #e4e4e4;
	/*#242d32;*/
	/*rgb(68, 68, 68); */text-align: center }
.footer-content p { color: #9c9c9c;font-size: 14px;font-family:'Raleway';letter-spacing: 1px; }

.mfooter-media-btn {
	font-size: 38px;
}
.footer ul li { display: inline; border-bottom: 1px solid blue}
.footer ul { text-align: center; }
.btn-default { border: none;color:grey; }




/*
==========================================================================
MEDIA QUERIES
==========================================================================
*/

@media (min-width: 768px) {
	/* branding in nav */
	.light { font-family: 'Titillium Web', sans-serif; font-size: 18px; }

	.intro {
		height: 100%;
		padding: 170px 0px;
	}
	.intro .intro-body .brand-heading {
	    font-size: 70px;
	    color:#fff;
	    font-family: 'Lato', sans-serif;
	}
	.intro .intro-body .intro-text {
		font-size: 28px;

	}

	.navbar-custom { background-color: transparent; }
	.navbar-custom.top-nav-collapse {
	    /*background: rgba(0, 0, 0, 0.5);*/
	   background-color: rgba(11, 36, 62, 0.81);
	    border-bottom: 0px solid rgba(255, 255, 255, 0.2);
	}
	.navbar-custom.top-nav-collapse li a { color:#fff; }

	.footer-content p { font-size: 16px; }
	.btn-default {
		color: #949e9a;
		border: none;
		/*border: 1px solid #1b6549;*/
	}
	.btn-default:hover, .btn-default:focus {
	    border: 0px solid #42DCA3;
	    outline: none;
	    color: #7cd25a;
	    background-color: transparent;
	}

	.section-title {
		font-size: 45px;
	}

	.portfolio-item { overflow: hidden; }
	.portfolio-item .caption {
		font-size: 18px;
		color:#888585;
		position: absolute;
		top:-100%;
		background-color: #000;
		opacity:.7;
		margin: 0px 0px 0px 0px;
		padding:22px;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.5s ease;
		-moz-transition:    all 0.5s ease;
		-o-transition:      all 0.5s ease;
	}

	/*.portfolio-item .caption {
		padding:22px;
		width:100%;
		height: 100%;
		position: absolute;
		opacity: .7;
		background-color: #000;
		-webkit-transition: all 0.5s ease;
		-moz-transition:    all 0.5s ease;
		-o-transition:      all 0.5s ease;

	 }*/

	.portfolio-item .caption {
		top: -100%;
		/*right:-100%;*/
		/*opacity: 0;*/
		/*bottom: 0; */
	 }
	.portfolio-item:hover .caption { top: 0;  }

	.modal-open .modal {
	    margin-top: 100px;
	}
}
@media (min-width: 767px) {
	.content-section {
	    padding-top: 140px;
	    padding-bottom: 100px;
	}
}
