/* Custom CSS styling for Grayscale bootstrap theme */

/* Mobile First */
/* 
==========================================================================
DEV UTILITIES
========================================================================== 
*/

.bdred { border: 1px solid red; }
.m-lowercase { text-transform: lowercase; }

/* 
==========================================================================
GLOBAL STYLES
========================================================================== 
*/

body {
	background-color: #ffffff;
	font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
}


.navbar-custom {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    text-transform: uppercase;
    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Titillium Web';
}
.navbar-custom .nav li a { color: rgba(255, 255, 255, 0.8);border-bottom: 1px solid transparent; }
.navbar-custom .nav li a:hover {
    color: #fff;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(227, 255, 120);
}

.navbar-nav {
    text-align: center;
}

.navbar-custom .navbar-toggle {
    color: white;
    background-color: transparent; 
    font-size: 21px;
    margin-right: 7px;
}

.navbar-toggle {
 
    padding: 9px 10px;
	margin-top: 0px;
    margin-bottom: -2px;

}


h1,h2,h3,h4,h5 { color: #333333; /*font-family: 'Titillium Web'*/font-family: 'Lato', sans-serif;font-weight: 300; }

p { 
	font-size: 20px;
	color:#333333;
	font-family: 'Open Sans Condensed', serif;

}

/* Navbar Branding */
.light { font-family: 'Titillium Web', sans-serif; font-size: 16px; }
.white { color: white; }
.green { color:rgb(227, 255, 120); }
.fa-code { color:#ff8c00; }

.content-section { padding: 120px 0px 90px; }
.content-section p { text-align: center; font-family: 'Open Sans Condensed'; letter-spacing: .3px; }


.section-title { border-bottom: 3px solid #ff8c00; display: inline-block;
padding-bottom: 6px; }

.mchevron-container { padding-bottom: 20px;  }
.mchevron-up { font-size: 26px; color: cadetblue; }
.mchevron-up-text { color:cadetblue;margin-top: 0px }

/* 
==========================================================================
INTRO
========================================================================== 
*/

.intro {
	background: url('../img/banner-main-large4.jpg') no-repeat bottom center scroll;
	/*padding: 145px 0px;*/
	min-height: 100vh;
}
.intro h1 { color:#f7f7f7; font-family: 'Lato', sans-serif;font-weight:300; }
.intro .intro-body .brand-heading { font-size: 48px; }

.intro .intro-body .intro-text {
	color: rgba(210, 255, 255, 0.91);
    font-weight: 100;
    font-size: 22px;
    /* color: #efefef; */
    font-family: 'Open Sans Condensed';
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*
* Find a fix to create blurred background image behind clear text with CSS
*/

/*.intro::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width:100%;
  
  display: block;
  background-image: url('http://www.ashercharles.com/wp-content/themes/v3/images/banner-main-large4.jpg');


  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}*/


/*
.tcontent { height:auto;width:102%; }*/
/*.intro-content::before {
  content: "";
  position:absolute;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url('');
  width: 100%;
  height: 800px;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/

/*.intro-content {
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
}*/


/* 
==========================================================================
ABOUT SECTION
========================================================================== 
*/

/* 
==========================================================================
SKILLS SECTION
========================================================================== 
*/
#skills { background-color: #efefef; }
/* 
==========================================================================
PORTFOLIO SECTION 
========================================================================== 
*/

#portfolio { background-color: #FFF; }
.portfolio-item { margin-bottom: 120px; }
.section-intro { margin-bottom: 60px;/*border-bottom: 1px solid burlywood; */}
#portfolio .section-intro p { color:#888585; }
#portfolio .section-title { color:; }

.portfolio-item p { font-size: 18px;color:#888585; }
.portfolio-item h3 a { font-size: 22px; }

/* 
==========================================================================
CONTACT SECTION 
========================================================================== 
*/


#contact { padding-bottom: 0px; background-color: #efefef; text-align: center; }

/* 
==========================================================================
FOOTER SECTION 
========================================================================== 
*/

footer { background-color: #242d32;/*rgb(68, 68, 68); */text-align: center }
.footer-content p { color: #9c9c9c;font-size: 14px;font-family:'Raleway';letter-spacing: 1px; }

.mfooter-media-btn {
	font-size: 38px;
	
	
}
.footer ul li { display: inline; border-bottom: 1px solid blue}
.footer ul { 
	text-align: center;
}
.btn-default { border: none;color:grey; }


/* 
==========================================================================
MEDIA QUERIES
========================================================================== 
*/

@media (min-width: 768px) {

	.light { font-family: 'Titillium Web', sans-serif; font-size: 18px; }

	.intro {
		height: 100%;
		padding: 170px 0px;
	}
	.intro .intro-body .brand-heading {
	    font-size: 70px;
	    color:#fff;
	    font-family: 'Lato', sans-serif;
	}
	.intro .intro-body .intro-text {
		font-size: 28px;
	
	}	

	.navbar-custom { background-color: transparent; }
	.navbar-custom.top-nav-collapse {
	    /*background: rgba(0, 0, 0, 0.5);*/
	    background: rgba(1, 15, 29, 0.81);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	.navbar-custom.top-nav-collapse li a { color:#fff; }

	.footer-content p { font-size: 16px; }
	.btn-default { 
		color: #949e9a; 
		border: none;
		/*border: 1px solid #1b6549;*/ 
	}
	.btn-default:hover, .btn-default:focus {
	    border: 0px solid #42DCA3; 
	    outline: none;
	    color: #7cd25a;
	    background-color: transparent;
	}

@media (min-width: 767px)
	.content-section {
	    padding-top: 140px;
	    padding-bottom: 100px;
	}
}
